<UmbracoCustomSettings>
    <Plugins>      
        <Plugin>
            <Name>Media Maintenance Dashboard</Name>
            <Folder>Utilities</Folder>
            <Controller>MediaMaintenanceController</Controller>
            <UserRoles>
                <UserRole>
                    <Name>admin</Name>
                </UserRole>
            </UserRoles>
            <Tabs>
                <Tab>
                    <Id>0</Id>
                    <Label>Folders</Label>
                    <Description>Shows a list of folders</Description>
                    <Template>/App_Plugins/Utilities/backoffice/mediaMaintenance/media-folders.html</Template>
                    <TemplateModel>mediaFolders</TemplateModel>
                </Tab>
                <Tab>
                    <Id>1</Id>
                    <Label>Images</Label>
                    <Description>Shows a list of images</Description>
                    <Template>/App_Plugins/Utilities/backoffice/mediaMaintenance/media-files.html</Template>
                    <TemplateModel>mediaFiles</TemplateModel>
                </Tab>
                <Tab>
                    <Id>2</Id>
                    <Label>Image references</Label>
                    <Description>Shows a list of node that references selected image</Description>
                    <Template>/App_Plugins/Utilities/backoffice/mediaMaintenance/media-references.html</Template>
                    <TemplateModel>mediaReferences</TemplateModel>
                </Tab>
                <Tab>
                    <Id>3</Id>
                    <Label>Folder with new files</Label>
                    <Description>Shows a list of folders with new files</Description>
                    <Template>/App_Plugins/Utilities/backoffice/mediaMaintenance/media-folders-with-new-files.html</Template>
                    <TemplateModel>mediaFoldersWithNewFiles</TemplateModel>
                </Tab>
            </Tabs>
            <Values>
            </Values>
        </Plugin>       
    </Plugins>
    <MenuRendering>
        <Items>
        </Items>
        <ItemsByNodeId>
        </ItemsByNodeId>
        <ItemsToRemove>
        </ItemsToRemove>
    </MenuRendering>
</UmbracoCustomSettings>